html, body {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5;
    font-weight: lighter;
    font-size: 20px;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tilt { 
    border-radius: 3vw 6vw;
    width: 55vw;
    height: 55vh;
    margin: 0 auto;
    display: block;
    background-image: linear-gradient(217deg, rgba(177, 213, 232), rgba(255,215,0,0) 90%),
            linear-gradient(127deg, rgba(204, 228, 212), rgba(210,105,30,0) 90%),
            linear-gradient(336deg, rgba(249, 235, 218), rgba(139,69,19,0) 90%);
    box-shadow: 0 3px 47px rgb(0 0 0 / 20%);
}

.tilt-inner{

    transform: translateZ(50px) translateY(-50%) translateX(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 2.5rem;
}

a {
    background-color: transparent;
    color: white;
    text-decoration: none;
}

/*i {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}*/

.icon {
    color: #efefef;
    margin: 0.25vw;
}

@media only screen and (max-width: 470px) {
    .tilt {
        width: 90vw;
        height: 90vh;
    }

    h1 {
        font-size: 1.4em;
    }
    h2 {
        font-size: 0.6rem;
    }
    p {
        font-size: 0.6rem; 
    }
    a.icon {
        font-size: 0.6rem;
    }
}


@media only screen and (min-width: 470px) {
    .tilt {
        width: 90vw;
        height: 90vh;
    }

    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1rem;
    }
    p {
        font-size: 0.8rem; 
    }
    a.icon {
        font-size: 0.6rem;
    }
}



@media only screen and (min-width: 650px) {
    .tilt {
        width: 55vw;
        height: 55vh;
    }

    h1 {
        font-size: 1.6rem;
    }
    h2 {
        font-size: 0.85rem;
    }
    p {
        font-size: 0.7rem; 
    }
    a.icon {
        font-size: 0.7rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    h1 {
        font-size: 2.0rem;
    }
    h2 {
        font-size: 0.85rem;
    }
    p {
        font-size: 0.7rem; 
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 0.85rem;
    }
    p {
        font-size: 0.8rem; 
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1290px) {
    h1 {
        font-size: 3.0rem;
    }
    h2 {
        font-size: 0.90rem;
    }
    p {
        font-size: 0.8rem; 
    }
}

@media only screen and (min-width: 1490px) {
    h1 {
        font-size: 3.0rem;
    }
    h2 {
        font-size: 1.00rem;
    }
    p {
        font-size: 0.8rem; 
    }
}

@media only screen and (min-width: 1530px) {
    h1 {
        font-size: 3.0rem;
    }
    h2 {
        font-size: 1.05rem;
    }
    p {
        font-size: 0.8rem; 
    }
}

@media only screen and (min-width: 1530px) {
    h1 {
        font-size: 3.0rem;
    }
    h2 {
        font-size: 1.05rem;
    }
    p {
        font-size: 0.8rem; 
    }
}

@media only screen and (max-height: 700px) {
   .tilt {
        width: 90vw;
        height: 90vh;
    }
    h1 {
        font-size: 7.5vh;
    }
    h2 {
        font-size: 3vh;
    }
    p {
        font-size: 2.5vh; 
    }
    a.icon {
        font-size: 2vh;
    }
}

@media only screen and (max-height: 700px) and (max-width: 470px) {
   .tilt {
        width: 90vw;
        height: 90vh;
        border-radius: 3vw 3vw;
    }

    h1 {
        font-size: 1.4em;
    }
    h2 {
        font-size: 0.6rem;
    }
    p {
        font-size: 0.6rem; 
    }
    a.icon {
        font-size: 0.6rem;
    }
}




